<header class="">
    <div class="logo">
        <a href="#">zVintauge</a>
        <span>Collectible Vintage & Antique Photos</span>
    </div>
    <div id="cssmenu" class="align-center">
        <ul>
            <li><a href="#"><span>Home</span></a></li>
            <li><a href="#"><span>Gallery</span></a></li>
            <li><a href="{% url 'articles_list_url' %}"><span>Blog</span></a></li>
            <li><a href="#"><span>About</span></a></li>
            <li class="last"><a href="#"><span>Contact</span></a></li>
        </ul>
    </div>
</header>