{% extends 'base_blog.html' %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}

<section id="container">
    <div class="wrap-container">
        <div id="main-content">
            <div class="wrap-content">
                <div class="row">
                    <article class="single-post zerogrid">
                        <div class="row wrap-post">
                            <div class="entry-header">
                                <span class="time">{{ article.date_created|date:'F j Y' }}</span>
                                <h2 class="entry-title"><a href="#">{{ article.title }}</a></h2>
                                <span class="cat-links">
                                    {% include 'includes/tags_list.html' %}
                                </span>
                            </div>
                            <div class="post-thumbnail-wrap">
                                {% if article.image %}
                                    <img src="{{ article.image.url }}" alt="{{ article.image }}"/>
                                {% endif %}
                            </div>
                            <div class="entry-content">
                                {{ article.text|safe }}
                            </div>
                        </div>
                    </article>
                    {% if article.reply_set.all %}
                        <div class="zerogrid" style="margin-bottom: 25px;">
                            <div class="comments-are">
                                {% for comment in article.reply_set.all %}
                                    <div class="comment">
                                        <h6 class="name">{{ comment.name|title }}</h6>
                                        <p class="content">{{ comment.content }}</p>
                                        <span class="time">{{ comment.date_created }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="zerogrid">
                        <div class="comments-are">
                            <div id="comment">
                                <h3>Leave a Reply</h3>
                                <form name="comment_form" id="comment_form" method="post" action="">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <center><input class="sendButton" type="submit" name="submitcomment" value="Submit"></center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}